ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000f7a;
}

li {
    float: left;
}

li a {
    display: block;
    color: #74ff00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #0f39cf;
}

.active {
    background-color: #af1112;
}

table, th, td {
    border: 2px solid #000f7a;
}
